html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*:after {
  box-sizing: inherit;
}

body {
  color: white;
  background-color: #101010;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 13px;
  font-family: Roboto, "Segoe UI", Tahoma, sans-serif;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  //background
  background-image: url(./images/backgrounds/Ed24A9mUMAEgjj1.jfif);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  top: 0;
  width: 100%;
  height: 48px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  a {
    color: white;
    text-decoration: none;
    font-weight: 600;
  }

  a:nth-of-type(1) {
    margin-right: 20px;
  }

  a:nth-of-type(2) {
    margin-right: 10px;
  }

  a:hover {
    text-decoration: underline;
  }

  .apps-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;

    height: 40px;
    width: 40px;
    border-radius: 50%;
    // border: 1px solid red;
  }

  .apps-container:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .apps {
    fill: white;
    width: 25px;
    border-radius: 50%;
    // transform: translate(-5%);
  }
}

.logo {
  background-image: url(./images/google-logo.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 271px;
  height: 92px;
  margin-bottom: 40px;
}

.search-bar {
  display: flex;
  justify-content: center;
  height: 42px;
  width: 562px;
  margin-bottom: 20px;

  &__logo,
  &__voice-search {
    width: 70px;
    background-color: white;
  }

  &__logo {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: url(./images/magnify.png);
    background-size: 35px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__voice-search {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: url(./images/voice-search.png);
    background-size: 26px;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__input {
    border: none;
    width: 100%;
  }

  &__input:focus::placeholder {
    color: transparent;
  }

  &__input:focus {
    border: none;
    outline: none;
  }
}

.links-container {
  width: 112 * 4px;
  display: grid;
  grid-template-columns: repeat(4, minmax(112px, auto));
  grid-template-rows: repeat(2, minmax(112px, auto));

  .link {
    border-radius: 3px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__logo-circle {
      width: 50px;
      height: 50px;
      background-color: white;
      border-radius: 50%;

      background-size: 26px;
      background-position: center;
      background-repeat: no-repeat;

      &--facebook {
        background-image: url(./images/facebook.png);
      }

      &--twitter {
        background-image: url(./images/twitter.png);
      }

      &--instagram {
        background-image: url(./images/instagram.png);
      }

      &--youtube {
        background-image: url(./images/youtube.png);
      }

      &--stack {
        background-image: url(./images/stack.png);
      }

      &--github {
        background-image: url(./images/GitHub-Mark.png);
      }

      &--fcc {
        background-image: url(./images/fcc.png);
      }

      &--twitch {
        background-image: url(./images/twitch.png);
      }
    }

    &__title {
      margin-top: 6px;
      font-weight: 600;
    }
  }

  .link:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.edit-container {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 5px;

  .edit-button {
    fill: white;
    transform: translate(13%, 10%);
  }
}

.edit-container:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
